<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <script
      src="https://kit.fontawesome.com/5648a26886.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/general.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />

    <title>Bills</title>
  </head>
  <body>
    <div id="toolbar" class="flex-box space-between pd-x-24 align-center">
      <div class="flex-box align-center">
        <img
          class="toolbar__logo"
          src="../assets/img/logo_nike.png"
          alt="Nike"
        />
        <img
          class="toolbar__brand"
          src="../assets/img/brand_nike.png"
          alt="Nike"
          srcset=""
        />
      </div>

      <ul class="ul-clear flex-box space-between">
        <li class="upper-case">
          <a class="btn btn--s toolbar__item" href="/view/home.html">Home</a>
        </li>
        <li class="upper-case">
          <a class="btn btn--s toolbar__item active" href="/view/about.html"
            >About</a
          >
        </li>
        <li class="upper-case">
          <a class="btn btn--s toolbar__item" href="/view/bills.html">Bills</a>
        </li>
        <li>
          <a class="btn btn--s toolbar__cart" href="/view/cart.html">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="toolbar__cart__quantity">3</span>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
